
h1 {
  color: red;
  text-align: center;
  font-family: fantasy:
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
img {
  align-content: center;

}
